#login-card{
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}