#login-card{
    border: 2px solid gray;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    box-shadow: 5px 10px;
}